-- SQL statements to populate local database with Hostinger-like data

-- Insert Categories
INSERT OR REPLACE INTO categories (id, name, description, image, created_at, updated_at) VALUES (1, 'Elektrik', 'Elektrik m╔Щhsullar─▒', 'category-placeholder.svg', datetime('now'), datetime('now'));
INSERT OR REPLACE INTO categories (id, name, description, image, created_at, updated_at) VALUES (2, 'Mexaniki', 'Mexaniki m╔Щhsullar', 'category-placeholder.svg', datetime('now'), datetime('now'));
INSERT OR REPLACE INTO categories (id, name, description, image, created_at, updated_at) VALUES (3, 'Avtomatla┼Яd─▒rma', 'Avtomatla┼Яd─▒rma sisteml╔Щri', 'category-placeholder.svg', datetime('now'), datetime('now'));

-- Insert Markas

-- Insert Products

-- Update sequences
UPDATE sqlite_sequence SET seq = 5 WHERE name = 'categories';
UPDATE sqlite_sequence SET seq = 6 WHERE name = 'markas';
UPDATE sqlite_sequence SET seq = 5 WHERE name = 'products';

-- Data export completed!
